# <img style="float: left; padding-right: 10px; width: 200px" src="https://raw.githubusercontent.com/trivikverma/researchgroup/master/assets/media/logo.png"> EPA-1316 Introduction to *Urban* Data Science 


## Homework 2: Data Engineering and Transformation

**TU Delft**<br>
**Q1 2022**<br>
**Instructor:** Trivik Verma <br>
**TAs:** Auriane Técourt, Dorukhan Yeşilli, Ludovica Bindi, Nicolò Canal, Ruth Nelson, Vaibhavi Srivastava <br>
**[Centre for Urban Science & Policy]( https://cusp.tbm.tudelft.nl/)** <br>

---

__This homework assignment document will guide you through five tasks in cleaning your data.__

1. Reading and Summarizing the Data.
2. Subsetting the Data.
3. Manage Missing Data.
4. Shape the Data.
5. Saving the Results.

## Exercise 1: Loading the data:

- Load the `goodreads.csv` file into Python
- Explore it by looking at first and last 5 rows
- Change the column names to `["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name']`

In [2]:
import pandas as pd

In [28]:
# your code here
# use many cells if you like to structure your code well
data_source = pd.read_csv('data/goodreads.csv')
data_source.columns = ["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name']
#print(data_source.info())
#data_source = data_source.fillna(0)
#data_source = data_source.replace(0)
print(data_source.info())
#data_source['review_count'] = data_source['review_count'].astype(int)
#data_source['rating_count'] = data_source['rating_count'].astype(int)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5999 entries, 0 to 5998
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rating        5997 non-null   float64
 1   review_count  5999 non-null   object
 2   isbn          5524 non-null   object
 3   booktype      5999 non-null   object
 4   author_url    5999 non-null   object
 5   year          5992 non-null   float64
 6   genre_urls    5937 non-null   object
 7   dir           5999 non-null   object
 8   rating_count  5999 non-null   object
 9   name          5999 non-null   object
dtypes: float64(2), object(8)
memory usage: 468.8+ KB
None

## Exercise 2: Subsetting the data

- Subset the data by creating new dataframe only with `["rating", 'isbn', 'author_url', 'year', 'genre_urls', 'name']`

In [33]:
# your code here
# use many cells if you like to structure your code well
reviews_subset = data_source.loc[:,["rating", 'isbn', 'author_url', 'year', 'genre_urls', 'name']]
print(reviews_subset.columns)

Index(['rating', 'isbn', 'author_url', 'year', 'genre_urls', 'name'], dtype='object')

## Exercise 3: Manage Missing Data
We’ve got a number of ways in general of dealing with missing data. These involve

1. Dropping off cases (or rows) in the data with any missing variables
2. Excluding variables in the data with any missing data 
3. Selectively choosing indicators with only a limited amount of missing data
4. Replacing missing variables with averages, or other representative values
5. Creating a separate model to predict missing data

- Count the missing values in each column
- Manage the missing values (delete or replace values or leave them as they are) and briefly explain your choice for each column

In [44]:
# your code here
# use many cells if you like to structure your code well
print(reviews_subset.info())
#drop rows based on Infos gathered in info() method
reviews_subset = reviews_subset.drop(reviews_subset[pd.isnull(reviews_subset.rating)].index)
reviews_subset = reviews_subset.drop(reviews_subset[pd.isnull(reviews_subset.isbn)|pd.isna(reviews_subset.isbn)].index)
reviews_subset = reviews_subset.drop(reviews_subset[pd.isnull(reviews_subset.year)|pd.isna(reviews_subset.year)].index)
reviews_subset = reviews_subset.drop(reviews_subset[pd.isnull(reviews_subset.genre_urls)|pd.isna(reviews_subset.genre_urls)].index)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5495 entries, 0 to 5998
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rating      5495 non-null   float64
 1   isbn        5495 non-null   object
 2   author_url  5495 non-null   object
 3   year        5495 non-null   float64
 4   genre_urls  5495 non-null   object
 5   name        5495 non-null   object
dtypes: float64(2), object(4)
memory usage: 300.5+ KB
None

## Exercise 4: Shape the data
- Parse the `author_url` to create new column named `author`
- Sort the data by putting higher rates go first. If there are overlapping rates, try to put earlier years go first.
- **(Stretch Goal)** Examine how many books were published at each year and find lowest, highest rate of each year.

In [65]:
# your code here
# use many cells if you like to structure your code well
reviews_subset['author'] = reviews_subset.author_url.map(lambda url: url.split('/')[-1].split('.')[1].replace('_',' '))
reviews_subset = reviews_subset.sort_values(by=["rating","year"],ascending=False)
print(reviews_subset.loc[:,['author','rating','year']].head(10))

                 author  rating    year
3711        Chris Lange    4.93  2013.0
910         Omar Farhad    4.85  2014.0
2629       Joe Connolly    4.80  2012.0
5656           Joe Egly    4.80  2012.0
248      Bill Watterson    4.80  2005.0
5873    Odysseus Elytis    4.78  1972.0
5448  Cindy Springsteen    4.77  2012.0
1594  Brandon Sanderson    4.76  2014.0
1852          Anonymous    4.76  2007.0
4083        Neil Gaiman    4.75  2008.0

<h3>Books published per year </h3>

## Exercise 5: Saving the results
- Save the cleaned dataframe as 'hw-03-cleaned.csv' in data folder

In [5]:
# your code here
# use many cells if you like to structure your code well